html, body {
    margin:0px;
    height:100%;
    font-family: 'Roboto Mono', monospace;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
}

#calculatorBody {
    background-color: rgb(45, 45, 45);
    min-width: 30rem;
    min-height: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}  

#calculatorDisplay {
    background-color: rgb(173, 173, 173);
    width: 90%;
    height: 8rem;


    display: flex;
    align-items: center;
    justify-content: flex-end;
} 

#calculatorDisplayText {
    font-size: 4.5em;
}

#calculatorButtonsArea {
    background-color: blue;
    width: 85%;
    /* height: 80%; */
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button {
    background-color: greenyellow;
    border: none;
    color: white;
    padding: 9%;
    text-align: center;
    text-decoration: none;

    font-size: 1.5em;
    margin: 4px 2px;
    border-radius: 8px;
}

#zero {
    grid-column: span 2;
}

/* .clickedButton {
    transform: scale(1.1);
    border-color: #ffc600;
    background-color: white;
  } */